<div class="container-fluid navSpacing overflow-hidden">
  <div #toast id="toast" class="toast">
    <span class="toast-message">{{toastMessage}}</span>
    <span type="button" (click)="closeToast()" class="toast-close" id="closeToastBtn">&times;</span>
  </div>
  <div class="contactMePage">
    <div class="row">
      <div class="col-md-6 col-12 left-section">
        <h2 class="pageHeading">Contact Me</h2>
        <h4>Connect with me on social media or via email—I'm always up for a good chat</h4>
        <div class="row">
          <div class="col-3 py-3 d-flex align-items-center">
            <img class="socials me-2" src="../../../assets/images/socialMedia/instagram.png" alt="Instagram" srcset="">
            <p class="m-0">Instagram</p>
          </div>
          <div class="col-3 py-3 d-flex align-items-center">
            <img class="socials me-2" src="../../../assets/images/socialMedia/twitter.png" alt="Twitter" srcset="">
            <p class="m-0">Twitter</p>
          </div>
          <div class="col-3 py-3 d-flex align-items-center">
            <img class="socials me-2" src="../../../assets/images/socialMedia/telegram.png" alt="Telegram" srcset="">
            <p class="m-0">Telegram</p>
          </div>
          <div class="col-3 py-3 d-flex align-items-center">
            <img class="socials me-2" src="../../../assets/images/socialMedia/linkedIn.png" alt="LinkedIn" srcset="">
            <p class="m-0">LinkedIn</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 pt-md-4 right-section">
        <form class="contact-form" (ngSubmit)="onSubmit()">
          <input type="text" [(ngModel)]="fullName" name="fullname" placeholder="Full Name" required>
          <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
          <textarea [(ngModel)]="message" name="message" placeholder="Message" required></textarea>
          <button type="submit" data-cursor="pointer">Send</button>
      </form>
      </div>
    </div>
  </div>

</div>
<div class="p-0 m-0" id="watermarkText">Contact</div>