<div class="container-fluid navSpacing overflow-hidden">
  <div #toast id="toast" class="toast">
    <span class="toast-message">{{toastMessage}}</span>
    <span type="button" (click)="closeToast()" class="toast-close" id="closeToastBtn">&times;</span>
  </div>
  <div class="contactMePage">
    <div class="row">
      <div class="col-md-6 col-12 left-section">
        <h2 class="pageHeading">Contact Me</h2>
        <h4>Connect with me on social media or or shoot me an email directly on <b>mail.rahulpramanik&#64;gmail.com</b></h4>
        <h4 class="mt-4">I'm always up for a good chat</h4>
        <div class="social-media mt-md-5 mt-3">
          <a
            href="https://www.linkedin.com/in/rahul-pramanik-2bba54221/"
            class="social-icon"
          >
            <img
              src="../../../assets/images/icon-linkedin.svg"
              alt="LinkedIn"
            />
          </a>
          <a href="https://x.com/OneAndOnlyRahul" class="social-icon">
            <img
              src="../../../assets/images/icon-twitter.svg"
              alt="Twitter"
            />
          </a>
          <a href="https://t.me/itzrahulp" class="social-icon">
            <img style="width: 39px !important;" src="../../../assets/images/icon-telegram.svg" alt="Telegram" />
          </a>
          <a href="https://www.instagram.com/pluviophile.guy/" class="social-icon">
            <img
              src="../../../assets/images/icon-instagram.svg"
              alt="Instagram"
            />
          </a>
        </div>
      </div>
      <div class="col-md-6 col-12 pt-md-4 right-section">
        <form class="contact-form" (ngSubmit)="onSubmit()">
          <input type="text" [(ngModel)]="fullName" name="fullname" placeholder="Full Name" required>
          <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
          <textarea [(ngModel)]="message" name="message" placeholder="Message" required></textarea>
          <button type="submit" data-cursor="pointer">Send</button>
      </form>
      </div>
    </div>
  </div>

</div>
<div class="p-0 m-0" id="watermarkText">Contact</div>