<div class="container-fluid d-flex align-items-center justify-content-center position-relative overflow-hidden">
    <div class="square slide1"></div>
    <div class="square slide2"></div>
    <div class="square slide3">
        <div class="AboutMe position-relative mt-4">
            <div class="rotatingText d-md-flex mb-4">
                <h1 class="me-2">Hey folks, I'm</h1>
                <div id="flip">
                    <div>
                        <div>
                            <h1>Rahul</h1>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h1>Developer</h1>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h1>Designer</h1>
                        </div>
                    </div>
                </div>
            </div>
            <p>
                I am a <b>full-stack web developer</b> with a passion for creating interactive and
                user-friendly websites. I enjoy working with the latest technologies and
                <b>designing seamless experiences</b> for users.
            </p>
            <p>
                In addition to my <b>development</b> work, I love to <b>draw</b> and <b>design</b>, pouring a
                lot of <b>attention to detail</b> into my creations. This artistic background
                influences my approach to web development, ensuring that both <b>aesthetics</b>
                and <b>functionality</b> are perfectly balanced.
            </p>
            <div class="learn-more d-flex align-items-center mt-5" data-cursor="pointer">
                <p class="m-0 p-0" (click)="navigateWithReverseAnimation()" data-cursor="pointer">See more about me</p>
                <img class="arrowImg" src="../../../assets/images/arrow.png">
            </div>
        </div>
    </div>
</div>
<div class="p-0 m-0" id="watermarkText">RP.</div>