<div class="container px-md-5 px-3 w-100 mw-100 navBody">
    <nav class="navbar px-md-5" [ngClass]="isHamburgerTriggered ? 'pt-0' : 'pt-5'">
        <div class="logo">
            <img (click)="changeToDark(false)" (click)="navigateWithReverseAnimation('')" src="../assets/images/Logo.png" alt="" srcset="" data-cursor="pointer">
        </div>
        <div class="hamburger" #hamburger id="hamburger">☰</div>
        <ul class="nav-links my-0" #navHyperlinks [ngClass]="isHamburgerTriggered ? 'active' : ''" id="nav-links">
            <li *ngIf="isHamburgerTriggered"><img src="../assets/images/cross.png" alt="Close" class="closeNav" #closeNav (click)="isHamburgerTriggered = !isHamburgerTriggered"></li>
            <li><span (click)="changeToDark(false)" type="button" (click)="navigateWithReverseAnimation('/about')" data-cursor="pointer">About</span></li>
            <li><span (click)="changeToDark(true)" type="button" (click)="navigateWithReverseAnimation('/projects')" data-cursor="pointer">Projects</span></li>
            <li><span (click)="changeToDark(false)" type="button" (click)="navigateWithReverseAnimation('/contact')" data-cursor="pointer">Contact</span></li>
            <li>
                <img src="../assets/images/night-mode.png" #themeToggle alt="" srcset="">
            </li>
        </ul>
    </nav>
</div>
<router-outlet class="flex-1"></router-outlet>
<div id="cursor"></div>
<div id="cursor-border"></div>