<div class="container-fluid appear p-0 m-0">
  <div class="container mt-4">
    <div class="px-md-5">
      <div class="AboutMe px-md-5">
        <div class="row">
          <div class="col-md-6 col-12">
            <h1>About Me.</h1>
            <p class="mt-4">
              I am a developer/designer based in Kolkata, WestBengal
            </p>
            <p>
              I’m a web developer by trade, turning coffee into innovative web
              solutions faster than you can say "debugging."
            </p>
            <p>
              I thrive on creating unique web solutions that not only function
              but also look good doing it.
            </p>
            <p>
              My magic wand is Figma, and I conjure up prototypes like it’s my
              superpower. Need a design? Consider it done... as long as there’s
              coffee involved!
            </p>
            <p>
              When I’m not coding, you can find me wielding my pencil like a
              knight with a sword, sketching out ideas. Who needs tech when you
              have good ol’ paper and imagination?
            </p>
            <div class="social-media">
              <a
                href="https://www.linkedin.com/in/rahul-pramanik-2bba54221/"
                class="social-icon"
              >
                <img
                  src="../../../assets/images/icon-linkedin.svg"
                  alt="LinkedIn"
                />
              </a>
              <a href="https://github.com/UniquelySimple" class="social-icon">
                <img
                  src="../../../assets/images/icon-github.svg"
                  alt="GitHub"
                />
              </a>
              <a href="https:/gmail.com" class="social-icon">
                <img src="../../../assets/images/icon-gmail.svg" alt="Gmail" />
              </a>
              <a href="https:/instagram.com" class="social-icon">
                <img
                  src="../../../assets/images/icon-instagram.svg"
                  alt="Instagram"
                />
              </a>
            </div>
          </div>
          <div
            class="col-md-6 col-12 d-flex justify-content-md-end align-items-center pt-3"
          >
            <!-- <img class="MyPic" src="../../../assets/images/PXL_20240523_133715865.jpg" alt="" srcset="" /> -->
            <div id="lottie-container" style="width: 400px; height: 400px;"></div>
             <!-- <img src="../../../assets/animations/Web designer setting up web layout.gif" alt="" srcset=""> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid ExperienceSection">
    <div class="row mb-5">
      <div class="col-md-6 col-12 left-section">
        <h3 class="m-0">I'm</h3>
        <span class="MyName">Rahul Pramanik</span>
        <h3 class="Designation">System Engineer</h3>
        <p class="mt-4 pe-md-5">
          I craft seamless and intuitive user interfaces that elevate user
          experience<span>
            - because a happy user is the best kind of user!</span
          >
        </p>
        <div class="skills-container">
          <div class="skill-pill" title="Angular">
            <img src="../../../assets/images/angular.png" alt="Angular" />
          </div>
          <div class="skill-pill" title="DotNet">
            <img src="../../../assets/images/dotnet.png" alt="DotNet" />
          </div>
          <div class="skill-pill" title="Django">
            <img src="../../../assets/images/django.png" alt="Django" />
          </div>
          <div class="skill-pill" title="Typescript">
            <img src="../../../assets/images/typescript.png" alt="Typescript" />
          </div>
          <div class="skill-pill" title="React">
            <img src="../../../assets/images/react.png" alt="React" />
          </div>
          <div class="skill-pill" title="SQL">
            <img src="../../../assets/images/sql.png" alt="SQL" />
          </div>
          <div class="skill-pill" title="Figma">
            <img src="../../../assets/images/figma.png" alt="Figma" />
          </div>
          <div class="skill-pill" title="Git">
            <img src="../../../assets/images/git.png" alt="Git" />
          </div>
          <div class="skill-pill" title="GitHub">
            <img src="../../../assets/images/github.png" alt="GitHub" />
          </div>
          <div class="skill-pill" title="HTML">
            <img src="../../../assets/images/html.png" alt="HTML" />
          </div>
          <div class="skill-pill" title="CSS">
            <img src="../../../assets/images/css.png" alt="CSS" />
          </div>
          <div class="skill-pill" title="Javascript">
            <img src="../../../assets/images/javascript.png" alt="Javascript" />
          </div>
          <div class="skill-pill" title="Linux">
            <img src="../../../assets/images/linux.png" alt="Linux" />
          </div>
          <!-- <div class="skill-pill" title="MongoDb">
                        <img src="../../../assets/images/mongodb.png" alt="MongoDB">
                    </div> -->
          <div class="skill-pill" title="Python">
            <img src="../../../assets/images/python.png" alt="Python" />
          </div>
        </div>

        <h4 class="mt-5 mb-0">My Education Journey</h4>
        <div class="d-flex"></div>
        <section class="education-section">
          <div class="degree-container">
            <div class="degree">
              <h5>Bachelor of Science in Computer Science</h5>
              <p class="institution">Kazi Nazrul University</p>
              <p class="year">Graduated: 2020</p>
            </div>
            <div class="degree">
              <h5>Master of Science in Software Engineering</h5>
              <p class="institution">SASTRA University</p>
              <p class="year">Graduated: 2022</p>
            </div>
          </div>
        </section>
      </div>
      <div class="ExperienceCard right-section d-md-flex col-md-6 col-12 gap-4">
        <div class="">
          <p class="ExperinceDuration">2021 - Present</p>
        </div>
        <div class="">
          <h5 class="DesignationWithCompanyName">
            System Engineer . Tata Consultancy Ltd
          </h5>
          <p>
            Build and maintain critical components in both frontend and backend,
            across the whole customer product. Work closely with
            cross-functional teams, including developers, designers, and product
            managers, to implement and advocate for best practices in web
            accessibility.
          </p>
          <div class="TechPillGroup gap-2">
            <div class="techPill">Angular</div>
            <div class="techPill">.Net</div>
            <div class="techPill">HTML & CSS</div>
            <div class="techPill">Javascript</div>
            <div class="techPill">Typescript</div>
          </div>
        </div>
        <br />
      </div>
    </div>

    <div class="w-100 mt-4 d-flex justify-content-center">
      <div class="text-container" (click)="route('projects')">
        <span>C</span>
        <span>h</span>
        <span>e</span>
        <span>c</span>
        <span>k</span>
        <span class="mx-1"> </span>
        <span>o</span>
        <span>u</span>
        <span>t</span>
        <span class="mx-1"> </span>
        <span>m</span>
        <span>y</span>
        <span class="mx-1"> </span>
        <span>P</span>
        <span>r</span>
        <span>o</span>
        <span>j</span>
        <span>e</span>
        <span>c</span>
        <span>t</span>
        <span>s</span>
      </div>
    </div>
  </div>
  <div class="container-fluid my-3">
    <div class="carousel-container">
      <div class="carousel-content" #carouselContent>
        <div class="item" *ngFor="let item of items">
          <h2>{{ item.title }}</h2>
        </div>
        <div class="item" *ngFor="let item of items">
          <h2>{{ item.title }}</h2>
          <!-- Duplicating items -->
        </div>
      </div>
    </div>
  </div>
</div>
<h2 id="watermarkText">About Me</h2>
